/* Styles go here */

#content {
  margin-bottom: 4em;
}

.ui.dividing.header {
  margin-top: 1em;
  margin-bottom: 2em;
}

.mouse-watcher {
  border: 2px solid #eee;
  width: 100%;
  min-height: 10rem;
}
.mouse-watcher:hover {
  background-color: #585858;
  color: #fff;
}
